In [9]:
1+12

13

In [2]:
100-200

-100

In [8]:
10/20

0.5

In [14]:
if True:
    print("10")

10

# 1. 제목

## 소제목
- ㅇㅇㄹ
- ㄷㄹㅈ
- ㅍ

dsffsdf
# ㄴㅇㄹㄴㅇㄹ
ㅇㄴㄹㄴㅇ
ㄴㅇㄹ

# ㄴㅇㄹㄴㅇㄹ
## ㄴㅇㄹㄴㅇ

In [5]:
이름 = "홍길동"
나이 = 30
a = None

In [6]:
print (이름)
print (나이)
print (a)

홍길동
30
None

In [12]:
a=5e7
print (a)
a = int(a)
print(a)

50000000.0
50000000

In [16]:
x=2
(x>5) & (x<10)

False

In [17]:
num=input("정수:")
num= int(num)
result = "양수" if num >= 0 else "음수"
print(result)

정수: -10

음수